{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pilih Stadium</title>
{% endblock meta %}

{% block content %}
<div class="flex justify-center p-16">
    <h1 class="text-4xl font-bold">
        Pilih Stadium
    </h1>
</div>

<div class="overflow-x-auto px-8 py-4" style="margin: 0 auto; width: fit-content; border: 1px solid white; border-radius: 10px;">
    <form action="{% url 'pembelian_tiket:list_waktu_stadium_tiket' %}" method="POST">
        {% csrf_token %}
        <label for="stadium">Stadium:</label>
        <select id="stadium" name="stadium" style="background-color: transparent; border: 1px solid #38404e; border-radius: 2px;">
            {% for stadium in list_stadium %}
                <option value="{{ stadium }}">{{ stadium }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="date">Tanggal:</label>
        <input type="date" id="date" name="date" style="background-color: transparent;" value="{{ today }}">
        <br><br>
        <div class="flex justify-center">
            <button type="submit" class="text-white font-regular py-2 px-4 rounded-md" style="background-color: #38404e;">NEXT</button>
        </div>
    </form>
</div>
{% endblock content %}
