{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pengguna</title>

{% endblock meta %}

{% block content %}
<div class="flex justify-center p-16">
    <h1 class="text-4xl font-bold">
        Registrasi 
    </h1>
</div>
<div class="flex justify-center p-16 space-x-4">
    
    <button type="button" class="btn btn-secondary">Manajer</button>
    <button type="button" class="btn btn-secondary">Penonton</button>
    <button type="button" class="btn btn-secondary">Panitia</button>
</div>
{% endblock content %}