{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Pertandingan</title>
<style>
  td, th, tr {
    text-align: center;
  }
  
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 6px;
    /* font-size: 16px; */
    border-radius: 6px;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

{% endblock meta %}

{% block content %}

<div class="flex justify-center p-6">
    <h1 class="text-4xl font-bold">
        BUAT PERTANDINGAN
    </h1>
</div>
<div class="flex justify-center p-6">
<table>
    <tr>
        <td>Pilih Wasit Utama: </td>
        <td><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">List Wasit v</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div></td>
    </tr>
            
    <tr>
        <td>Pilih Wasit Pembantu/Hakim Garis: </td>
        <td><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">List Wasit v</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div></td>
    </tr>

    <tr>
        <td>Pilih Wasit Pembantu/Hakim Garis: </td>
        <td><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">List Wasit v</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div></td>
    </tr>

    <tr>
        <td>Pilih Wasit Cadangan: </td>
        <td><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">List Wasit v</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div></td>
    </tr>
</table>
</div>
<div class="overflow-x-auto px-24 py-4 pb-8">
      <table class="table w-full rounded-lg">
        <!-- head -->
        <tbody>
            <tr>
                <th class="bg-base-300">Tim 1</th>
                <th class="bg-base-300">Tim 2</th>
              </tr>
          <!-- row 1 -->
          <tr>
            <td>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">List Tim v</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </td>
            <td>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">List Tim v</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-center p-6">
        <button class="btn btn-primary btn_sm">SUBMIT</button>
        </div>
</div>
{% endblock content %}

