{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Manage Pertandingan</title>
<style>
  td, th, tr {
    text-align: center;
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 6px;
    /* font-size: 16px; */
    border-radius: 6px;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

{% endblock meta %}

{% block content %}

<div class="flex justify-center p-16">
    <h1 class="text-4xl font-bold">
        Pembuatan Pertandingan
    </h1>
</div>
<div class="overflow-x-auto px-24 py-4 pb-8">
      <table class="table table-zebra w-full rounded-lg">
        <!-- head -->
        <thead>
            <tr>
                <th colspan="4" class="bg-base-300">LIST PERTANDINGAN</th>
            </tr>
        </thead>

        <tbody>
            <thead>
            <tr>
                <th class="bg-base-300">Grup A</th>
                <th class="bg-base-300">Action</th>
                <th class="bg-base-300">Grup B</th>
                <th class="bg-base-300">Action</th>
              </tr>
            </thead>
          <!-- row 1 -->
          <tr>
            <td>A VS B</td>
            <td>
                <button class="btn btn-primary btn_sm">update</button>
                <button class="btn btn-primary btn_sm" style="background-color:red">delete</button>
            </td>
            <td>I VS J</td>
            <td>
                <button class="btn btn-primary btn_sm">update</button>
                <button class="btn btn-primary btn_sm" style="background-color:red">delete</button>
            </td>
          </tr>
          <!-- row 2 -->
          <tr>
            <td>C VS D</td>
            <td>
                <button class="btn btn-primary btn_sm">update</button>
                <button class="btn btn-primary btn_sm" style="background-color:red">delete</button>
            </td>
            <td>K VS L</td>
            <td>
                <button class="btn btn-primary btn_sm">update</button>
                <button class="btn btn-primary btn_sm" style="background-color:red">delete</button>
            </td>
          </tr>
          <!-- row 3 -->
          <tr>
            <td>E VS F</td>
            <td>
                <button class="btn btn-primary btn_sm">update</button>
                <button class="btn btn-primary btn_sm" style="background-color:red">delete</button>
            </td>
            <td>M VS N</td>
            <td>
                <button class="btn btn-primary btn_sm">update</button>
                <button class="btn btn-primary btn_sm" style="background-color:red">delete</button>
            </td>
          </tr>
          <!-- row 4 -->
          <tr>
            <td>G VS H</td>
            <td>
                <button class="btn btn-primary btn_sm">update</button>
                <button class="btn btn-primary btn_sm" style="background-color:red">delete</button>
            </td>
            <td>? VS ?</td>
            <td>
                <label for="modal1" class="btn btn-primary btn-sm">add</label>
            </td>
          </tr>
          <!-- row 5 -->
          <thead>
            <th class="bg-base-300">Grup C</th>
            <th class="bg-base-300">Action</th>
            <th class="bg-base-300">Grup D</th>
            <th class="bg-base-300">Action</th>
          </thead>
          <!-- row 6 -->
          <tr>
            <td>? VS ?</td>
            <td>
                <button class="btn btn-primary btn_sm">add</button>
            </td>
            <td>? VS ?</td>
            <td>
                <button class="btn btn-primary btn_sm">add</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<input type="checkbox" id="modal1" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg pb-4" style="text-align: center;">PEMBUATAN PERTANDINGAN</h3>
        <table class="table w-full rounded-lg">
            <!-- row 1 -->
            <tr>
                <td>Stadium</td>
                <td>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">List Stadium v</button>
                        <div id="myDropdown" class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td>Tanggal</td>
                <td>
                    <input type="date" id="Calendar">
                </td>
            </tr>
        </table>
    <div class="modal-action">
      <button type="button" class="btn btn-primary btn_sm"><a href="{% url 'pembuatan_pertandingan:pemilihan_waktu' %}">NEXT</a></button>
    </div>
  </div>
</div>
{% endblock content %}

